<h1>Artículos que podemos ofrecerte</h1>
<table class="table text-center">
    <thead>
        <tr>
            <th>Imagen</th>
            <th>Nombre</th>
            <th>Categoria</th>
            <th>Precio</th>
            <th>Stock</th>
            <th>Cantidad</th>
            <th>Compra</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let article of articles" [ngClass]="{'clearance' : article.clearance}">
            <td><img width="90" class="img-thumbnail" [src]="article.image" [alt]="article.name"></td>
            <td>{{article.name}}</td>
            <td>{{article.category}}</td>
            <td>{{article.price | currency}}</td>
            <td><span class="badge text-bg-warning" *ngIf="stockDisponible(article)==0">SIN STOCK</span></td> 
            <td>
                <app-input-integer [(quantity)]="article.quantity" [max]="stockDisponible(article)" *ngIf="stockDisponible(article)>0" (maxReached)="maxReached($event)"></app-input-integer>
            </td>
            <td>
                <button class="btn btn-secondary btn-sm" (click)="addToCart(article)" *ngIf="stockDisponible(article)>0">Agregar al Carrito</button>
            </td>            
        </tr>
    </tbody>
</table>